<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PFUsePrivateLogs</key>
	<false/>
	<key>PFUseChangePassword</key>
	<true/>
	<key>PFUseChat</key>
	<true/>
	<key>PFUseNews</key>
	<true/>
	<key>PFUseTransfer</key>
	<true/>
	<key>PFUseSecure</key>
	<false/>
	<key>PFUseDemoSecure</key>
	<false/>
	<key>PFShowFundValues</key>
	<true/>
	<key>PFShowEquityValue</key>
	<true/>
	<key>PFDefaultServer</key>
	<string>app.live.fxfinpro.com:8081</string>
	<key>PFDefaultDemoServer</key>
	<string>app.demo.fxfinpro.com:8081</string>
	<key>PFAppID</key>
	<string>775828662</string>
	<key>PFScriptsServer</key>
	<string></string>
	<key>PFDefaultSymbols</key>
	<array>
		<string>EUR/USD</string>
		<string>EUR/GBP</string>
		<string>USD/JPY</string>
		<string>XAU/USD</string>
		<string>XAG/USD</string>
	</array>
	<key>PFBrandingKey</key>
	<string>fxfinpro</string>
	<key>PFBrandingServer</key>
	<string>app.demo.fxfinpro.com:8081</string>
	<key>PFUseBrandingSecure</key>
	<false/>
	<key>PFUseValidityIOC</key>
	<true/>
</dict>
</plist>
