<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Alior.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>C4C.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>Dala.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>EasyForex.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>FT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>FXfinpro.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>Huaxia.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>ING.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>PFTrader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>QuickTrade Live.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>TradeAll.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>Velocity.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>Zhengtong.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>92862F7616D255680052CD5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92885B4E17E83B7900B8BAE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>928E7BD816FC7892002201D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92923BAA16DCBC2C00D5DCE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>929A489C17282E1200614DAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>929D7219176216CD006DA540</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>929D745A176217AF006DA540</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>929D76911762181C006DA540</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>929F56151726857800549629</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92A2A92E17DDECD100E8D6AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92A5BD6017E1A0DB00B872DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92A9C002174D04270039E6C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92FD1E6317B903680092D704</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AEF5D99A192120800094FD00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6BFAF2A163A747E00B65ED0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
